.dashboard-layout {
  display: flex;       
  height: 100vh;
  width: 17px
}

.nav-container {
  width: 220px;      
  background: #002080;
  color: white;
}


/* .container {
  flex: 1;             
  padding: 20px;
  background:black
} */