

.nav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */
  padding: 16px 32px;
  margin-right : 75%;
  background: #002080;
  color: white
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: white;
}
input{
    border-radius: 10px;
}